**/__pycache__
**/*.py[cod]
**/*.pyo
.env
.venv/
venv/
.uv/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
.git
.gitignore
.gitguardian.yml
tests/
*.md
workflow-templates/
